main {
  background-image: url("../images/login/compiuter.png");
  height: calc(100vh - 104px);
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

div#form {
  width: 31.5%;
  padding: 60px 24px;
  background-color: var(--form-bg-color);
  border: 2px solid var(--form-border-color);
  text-align: center;
  gap: 20px;
  border-radius: 20px;
}

form input:not([type="checkbox"]) {
  outline: none;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  background-color: var(--input-bg-color);
  margin-bottom: 13px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  height: 58px;
  padding: 26px 10px 10px 10px;
}

label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main a {
  border-radius: 8px;
  padding: 14px;
  background-color: var(--button-link-color);
}

.input-container {
  position: relative;
}

.input-container label {
  position: absolute;
  top: 0;
  padding: 10px;
  color: var(--input-placeholder-color);
  font-size: 12px;
  font-weight: 400;
  pointer-events: none;
  display: flex;
  align-items: center;
  cursor: text;
}

.input-container ::placeholder {
  color: var(--input-placeholder-color);
}
