body {
  background-color: var(--main-bg-color);
}

h1 {
  line-height: 81.71px;
  font-weight: 600;
  font-size: 60px;
}

#main-description a {
  border: 1px solid white;
  background-color: transparent;
  border-radius: 49px;
  border: 0px 20px;
  width: 289px;
  height: 60px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
}

#main-description {
  position: relative;
  z-index: 1;
  margin-left: 100px;
  margin-top: 50px;
}

#introduction {
  position: relative;
  height: 857px;
}

img#arveres {
  z-index: 0;
  aspect-ratio: 1 / 1;
  width: 72%;
  opacity: 0.8;
  position: absolute;
  top: -96px;
  right: 0;
}

section#examples img {
  aspect-ratio: 1/1;
  width: 32px;
}

section#examples a {
  color: var(--link-color);
  font-size: 14px;
  font-weight: 600;
}

section#examples a img {
  aspect-ratio: 1/1;
  width: 14px;
}

#examples {
  padding: 180px 100px;
  background: linear-gradient(
    180deg,
    var(--main-bg-color) 90%,
    var(--secondary-bg-color) 100%
  );
}

#example-showcase {
  justify-content: space-between;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 16px;
}

h3 {
  margin: 6px 0;
  font-size: 16px;
  font-weight: 700;
}

#details {
  background-color: var(--secondary-bg-color);
}

#statistics {
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

#statistics p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

#statistics img {
  aspect-ratio: 1/1;
  width: 55px;
  margin: 31px 0;
}

#apple-logo {
  position: relative;
  bottom: 4px;
  left: 8px;
}
